ion-button{
    padding-top: 1vh;
    align-items: center;
    width: 98%;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47vh;
    height: 55vh;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    text-align: center;
}