<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comentar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <img src="/assets/comentarios.png" class="img1">

  <p class="p1">Um dos mais famoso fervedouros do Jalapão é
  <p class="p2">também o maior de todos - com 15 metros de </p> 
  <p class="p3">diametro e 35 metros de prrofundidade de águas </p> 
  <p class="p4">extremamente cristalinas e incrivelmente azuis e </p>
  <p class="p5">garantia de um passeio relaxante e imperavel. E </p>
  <p class="p6">assim como em todos as outras fervedouros e </p>
  <p class="p7"> impossível de afundar mesmo vendo tão profundo! </p>


  <ion-button [routerLink]="['/', 'hoteljalapao']">Próximo</ion-button>
</ion-content>
