<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalheshotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


  <h2>Pousada Águas do Jalapão</h2>
  <p class="explicar">Os quartos simples decoração básica têm
    TV com tela plana.
  </p>
  <p class="explicar">Buffet de café de manhã disponível. Há um bar
    coberto no terraço com mesas para piquenique,
    além de uma piscina externa, um salário ao ar 
    livre, uma banheira de hidromassagem externa e
    um pátio com redes de descanso
  </p>

  <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="wifi"></ion-icon>
    </ion-col>

    <ion-col>
      <p>Wi-fi gratuito</p>
    </ion-col>
  </ion-row>


    <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="cafe"></ion-icon> 
    </ion-col>
  
  <ion-col class="caract">
  <p>Café da manhã incluído</p>
  </ion-col>
    </ion-row>

  <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="sunny"></ion-icon>
  </ion-col> 
  
  <ion-col class="caract">
  <p>Piscina</p>
  </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="car-sharp"></ion-icon> 
    </ion-col>

    <ion-col class="caract">
  <p>Estacionamento</p>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="snow-sharp"></ion-icon>
    </ion-col>
      
    <ion-col class="caract">
  <p>Ar-condicionado</p>
      </ion-col>
    </ion-row>

  <ion-row align-items-center>
    <ion-col size="1" class="icones">
  <ion-icon name="restaurant"></ion-icon> 
    </ion-col>
    
    <ion-col class="caract">
      <p>Restaurante</p>
    </ion-col>
  </ion-row>

  <ion-button [routerLink]="['/reserva']">Próximo</ion-button>


</ion-content>
