.img1{
    width: 80%;
    height: 50vh;
    margin-left: 0;
    padding-left: 0;
}

h1{
  text-align: center;  
}

.esq {
    margin-bottom: 25vh;
    font-size: 4vh;
}

.dir{
    margin-bottom: 25vh;
    font-size: 4vh;
}

.p1{
    text-align: center;
    align-items: center;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

ion-button{
    padding-top: 1vh;
    align-items: center;
    width: 98%;
}