<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jalapao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

<ion-row>
    <ion-col>
      <ion-icon name="chevron-back-outline" class="esq"></ion-icon>
    
  <img src="/assets/piscina_jalapao.png" class="img1">

      <ion-icon name="chevron-forward-outline" class="dir"></ion-icon>
    </ion-col>
</ion-row>

      <h1>Jalapão - TO</h1>
  <!-- <ion-carrosel></ion-carrosel> -->
  <p class="p1">O Jalapão foi batizado com este nome
    devido a abundância da flor Jalapa-do-Brasil na
    região
  </p>
  <ion-button [routerLink]="['/', 'comentar']">Próximo</ion-button>
</ion-content>
