.logo {
    width: 10vh;
    height: 5vh;
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;
  }

.icone{
  background-color: red;
}

.pessoa{
  width: 20vh;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil{
  color: black;
  background-color: lightgray;
}

.conta{
  color: black;
  background-color: lightgray;
}