<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
        <ion-col>
          <ion-icon name="chevron-back-outline" [routerLink]="['/', 'jalapao', 'reserva']">
          </ion-icon>
        </ion-col>

      <ion-col>
    <ion-title>Termos de Serviço</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <p>Observe que: A Seção 19 destes Termos contém uma cláusula de arbitragem e renúncia a ação
    coletiva que se aplica a todos os Membros da RESERVA360. Se for seu país de residência nos
    Estados Unidos; esta disposição se aplica
  </p>
  <p></p>
  <p></p>
  <p></p>
</ion-content>
